{{#each bookingData as |booking|}}
{{#each booking.dogs as |dog|}}     
          
    <div class="d-flex flex-column align-items-center">
    <section class="view-card">
         <option class="hide" id="bookId" value={{booking.id}}>{{booking.id}}</option>
        <h2>{{dog.dog_name}}</h2>
        <h3>Session: {{booking.session_name}}</h3>
        <h3>{{format_date booking.session_datetime}}</h3>       
      
    </section>    
    </div>

{{/each}}
{{/each}}



 
    

