{{#each bookingData as |booking|}}

     
          
    <div class="d-flex flex-column align-items-center">
      <section class="view-card">
      <option class="hide" id="bookId" value={{booking.id}}>{{booking.id}}</option>
        <h2>DOGS NAME</h2>
        <h3>Session: {{booking.session_name}}</h3>
        <h3>{{format_date booking.session_datetime}}</h3>  
      <div class="d-flex justify-content-center align-items-center">            
        <button data-booking-id="{{booking.id}}" id="deleteBtn" class="homeButton" ><i class="uil uil-trash-alt"></i>Cancel Booking</button>
      </div>
      
    </section>
   
    
    </div>


{{/each}}
<script src="/js/delete-booking.js"></script>


 
    

